:host {
  display: flex;
  flex-direction: column;
}

.note {
  margin-top: 56px;
  padding-top: 2rem;
  flex: 1;
}

.used .prize-name {
  text-decoration: line-through;
}

.prize-used-date {
  margin-left: 1em;
  font-size: 0.6em;
  white-space: nowrap;
}
