:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('src/assets/deadly-waves/deadly-waves-background.jpg') center;
  background-size: cover;
}

um-description {
  margin: 30vh 2rem;
}
