:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-row-gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 4px;
}

um-puzzle-portal {
 height: 100%;
}
