:host {
  background: url('src/assets/egypt/egypt-backgound.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.description {
  margin: 2rem;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:not(:last-of-type) {
    border-bottom: 1px solid #2a131b;
    padding: 15px 0;
  }
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  padding: 10px;
  animation: neon 1.5s ease-in-out infinite alternate;
  background-color: transparent;
  border-radius: 50%;
}

@keyframes neon {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff3400, 0 0 70px #ff3400, 0 0 80px #ff3400, 0 0 100px #ff3400, 0 0 150px #ff3400;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff3400, 0 0 35px #ff3400, 0 0 40px #ff3400, 0 0 50px #ff3400, 0 0 75px #ff3400;
  }
}
