:host {
  display: block;
  background: url('../../../assets/home/home-background.jpg') center;
  background-size: cover;
  background-position-x: 55%;
  position: relative;
}

.dog {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.corgi-1 {
  bottom: 20%;
  left: 5%;
  background-image: url('../../../assets/dogs/corgi.png');
  animation: run-y 20s ease-in-out;
}

.bulldog {
  bottom: 25%;
  left: 20%;
  background-image: url('../../../assets/dogs/bulldog.png');
}

.puppy {
  bottom: 0;
  left: 30%;
  background-image: url('../../../assets/dogs/puppy.png');
  animation: run 10s ease-in-out infinite;
}

.spaniel {
  bottom: 5%;
  left: 65%;
  background-image: url('../../../assets/dogs/spaniel.png');
}


.corgi-2 {
  top: 12%;
  left: 50%;
  background-image: url('../../../assets/dogs/corgi.png');
}

um-next-card, .form {
  margin: 30vh 2rem 0;
}

@keyframes run {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(10%);
  }
  50% {
    transform: translate(0);
    opacity: 1;
  }
  75% {
    transform: translate(-10%);
  }
}

@keyframes run-y {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 10%);
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
  75% {
    transform: translate(0, -10%);
  }
}
