:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.matrix {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.matrix.blur {
  opacity: 0;
  transition: opacity 20s;
}

:host um-card {
  margin: 15vh 2rem;
  background: #fff3;
  color: #ffc800;
  font-family: "Courier New", Courier, monospace;
}

.form {
  margin: 80vh 2rem 4rem;
  background-color: #3335;
  border: none;
  height: 2rem;
  line-height: 2rem;
  color: #eee;
}
