:host {
  display: block;
  background: url(~/src/assets/christmas/drum/lion-king-sleep.png) no-repeat center 0;
  background-size: cover;
  background-position: 0;

  &.valid {
    background: url(~/src/assets/christmas/drum/lion-king-wake-up.png) no-repeat center 0;
    background-size: cover;
    background-position: 25%;
  }
}

.drum {
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 0;
  right: 0;
}
