:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('../../../assets/deadly-waves/deadly-waves-background.jpg') center;
  background-size: cover;
}

.card {
  margin: 30vh 2rem;
}
